*.class

# Package Files #
*.jar
*.war
*.ear
.DS_Store
.project
.settings/
android/.classpath
android/.project
android/.settings/
android/target/
core/.classpath
core/.project
core/.settings/
core/target/
flash/.classpath
flash/.project
flash/.settings/
html/.classpath
html/.project
html/.settings/
html/target/
ios/.project
ios/.settings/
java/.classpath
java/.project
java/.settings/
java/target/
